/* Primary */
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);
$link: hsl(228, 45%, 44%);

/* Neutral */
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

/* Layout */
$desktop: 1366px;
$mobile: 600px;