.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 8px 16px;
  padding: 32px;
  border-radius: 8px;
  background-color: $very-dark-magenta;

    .avatar {
      display: flex;
      align-items: center;

      img {
        margin: 16px;
        width: 48px;
        border-radius: 30px;
      }
    }

    h4 {
      color: $white;
      padding: 4px;
    }

    span {
      color: $soft-pink;
      padding: 4px;
    }
    
    p {
      padding: 8px;
      font-size: 13px;
      font-weight: 500;
      color: $light-grayish-magenta;
    }
}
