.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1440px;
  margin: auto;
}

.container-top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.container-bottom {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}