.section-evaluation {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: 32px 0px;
}

.evaluation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin: 8px 0px;
  padding: 16px 0px;
  border-radius: 8px;

  font-size: 13px;
  font-weight: 700;
  color: $very-dark-magenta;
  background-color: $light-grayish-magenta;

  img {
    padding: 6px 4px;
  }
  span {
    padding: 6px 24px;
  }
}
